.site {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.article {
    margin: 0 20px 0 0;
}

.input-text {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 5px;
}

.input-text:focus {
    border: 1px solid grey;
}